@model Review
@* <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Customer" asp-action="Customers">Customers</a></li>
    <li class="breadcrumb-item active" aria-current="page">Register</li>
  </ol>
</nav> *@

<h4>Review</h4>
<form method="post" class="row g-3">
  <div asp-validation-summary="All"></div>

    <div class="col-md-12">
        <p>Rating number input is here for debugging to see the saved value. It is still needed but will be hidden for the final </p>
        <input asp-for="@Model.ProductId" type="number" min="0" step="1" class="form-control"/>
        <input asp-for="@Model.CustomerId" type="number" class="form-control"/>


      <label asp-for="@Model.Rating" class="form-label">Rating</label>
      <input asp-for="@Model.Rating" id="rating-input" type="number" value="0" min="1" max="5" step="1" class="form-control" placeholder="Rating" id="inputRating"/>
      <span id="rating-stars-input">
            <i data-star-number="1" class="bi star bi-star"></i>
            <i data-star-number="2" class="bi star bi-star"></i>
            <i data-star-number="3" class="bi star bi-star"></i>
            <i data-star-number="4" class="bi star bi-star"></i>
            <i data-star-number="5" class="bi star bi-star"></i>
        </span>
        <span>(<span id="rating-show-number">#</span>)</span>

      <div class="form-text">*Required</div>
    </div>

    <div class="col-12 form-floating">
        <label asp-for="@Model.Comment" class="form-label">Comment</label>
        <textarea asp-for="@Model.Comment" type="text" class="form-control" id="inputAddress" placeholder="Leave a comment here" style="height: 100px">
        </textarea>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Leave Review</button>
    </div>
</form>

<hr />
<script type="text/javascript" src="~/review.js"></script>